# For Streamlit Cloud - put in .streamlit/secrets.toml
# (Note: This file should NOT be committed to git for security)

SNOWFLAKE_USER = "RAJ123"
SNOWFLAKE_PASSWORD = "Raju@123456789"
SNOWFLAKE_ACCOUNT = "BNAYAJF-XG81948"
SNOWFLAKE_WAREHOUSE = "COMPUTE_WH"
SNOWFLAKE_DATABASE = "NETFLIX_DB"
SNOWFLAKE_SCHEMA = "PUBLIC"

OPEN_ROUTER = "sk-or-v1-xxxxxxxxxxxxx"

LLM_MODEL = "openrouter/auto"
LLM_TEMPERATURE = "0"

DEBUG = "false"
LOG_LEVEL = "INFO"
